:root {
    /* change the values below to your colors from your palette */
    --primary-color:#620097 ;
    --secondary-color: #490059 ;
    --accent1-color: #AE82FF;
    --accent2-color: #F9F6FF;
  
    /* change the values below to your chosen font(s) */
    --heading-font:"Bebas Neue";
    --paragraph-font: Roboto, Helvetica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #620097;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: black; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #AE82FF; /* paragraph text on a colored background */ 
    --paragraph-background-color: #490059 ;
    --nav-link-color: #F9F6FF;
    --nav-background-color: #AE82FF;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #620097;
  }
img {
    width:100%;
}
body, main, section, ul, li, ol {
    margin: 0;
    padding: 0;
    font-family: var(--paragraph-font);
}
h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
}
body {
    background-color: var(--paragraph-background-color);
}
header {
	display: grid;
	grid-template-columns: 140px 1fr;
	grid-template-rows: 140px 338px;
}
.glamour {
    grid-column: 1/-1;
    grid-row: 1/3;
    width: 100%;
    height:100%;
    object-fit: cover;
}
.logo {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
}
nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 390px;
    justify-self: right;
    grid-column: 2;
    grid-row:1;
    background-color: var(--nav-background-color);
    height:30%;
}
nav a {
    width:130px;
    text-decoration: none;
    text-align: center;
    padding-top:12px;
    color:var(--nav-link-color);
}
nav a:hover {
    background-color: var(--nav-hover-background-color);
    color:var(--nav-hover-link-color);
}
strong {
    color:white;
}
main.home {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 2fr;
    margin: 20px;
    text-align: right;
    color: var(--accent2-color);
    font-size: 1.3em;
    line-height: 1.5em; 

}
.guitarimg {
    height: 400px;
    object-fit: cover;
}
footer {
    background-color: #620097;
    padding-left: 20px;
    height: 140px;
    color: var(--accent2-color);
    padding-top: 15px;
}
.site-plan-link {
    color:white;
}
.contentfaq {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    color:white;
}
.guyjamming {
    grid-column:1/3;
    grid-row:1/3;
    padding-left:90px;
    padding-top:70px;

}
.faqinfo {
    grid-column: 2/4;
    grid-row:2/4;
    background-color: #00000080;
    color:white;
    font-size: large;
    padding:50px;
    line-height: 1.4em;
    height:fit-content;
}
.whyuscontent {
    display: grid;
    grid-template-columns: 1fr 30px 1fr;
    color:#AE82FF;
    
}
.firsthalf {
    grid-column: 1/2;
    padding-left:20px;
    line-height: 1.6em;
}
.secondhalf {
    grid-column: 3/4;
    padding-right:20px;
    line-height: 1.6em;
}
.guystrumming {
    width: 100%;
    height:300px;
    object-fit: cover;
}
.attentions {
    color:#F9F6FF;
    padding-left:30px;
}
.attention {
    color:#F9F6FF;
    padding-left: 30px;
}
@media screen and (max-width: 900px) {
    body {
        /* background-color: orange; */
    }
    main.home {
        grid-template-columns: 1fr;
        text-align: left;
    }
    .guyjamming {
        padding-left:0;
        grid-column: 1/-1;
    }
    .faqinfo {
        grid-column: 1/-1;
    }
  }
@media screen and (max-width: 550px) {
body {
    /* background-color: green; */
}
    h3 {
        padding-right: 30px;
    }

    nav {
        grid-template-columns: 1fr;
        background-color: var(--paragraph-background-color);
        min-height: 140px;
    }
    .firsthalf {
        grid-column: 1/-1;
    }
    .secondhalf {
        grid-column: 1/-1;
    }
    .firsthalf, .secondhalf {
        padding-right:30px;
        padding-left:30px;
    }

}
